

@font-face {
    font-family: "gilroy-extrabold";
    src: url(../fonts/gilroy/Gilroy-ExtraBold.otf);
}
@font-face {
    font-family: "product-sans-regular";
    src: url(../fonts/product-sans/Product\ Sans\ Regular.ttf);
}